<style id=label>
	.print-format table, .print-format tr, 
	.print-format td, .print-format div, .print-format p {
		font-family: arial;
		line-height: 100%;
		vertical-align: middle;
        font-size:8px;
        width: 95%;
	}
  * {
    box-sizing: border-box;
}
  @page {
margin: 0; 
padding: 0;
}
body, *{
    margin: 0px;
    padding: 0px;
}

	@media screen {
		.print-format {
			width: 1.97in;
			padding: 0.05in;
			min-height: 0.97in;
			 
		}
	}
.text-center{
    text-align:center;
}

.flex{
    display:flex;
    justify-content:space-between;
    margin:2px 2px;
    overflow-wrap: normal;
    word-wrap: normal;
    }
*{
        font-family:Verdana;
        
    }
    .bold
    { font-weight:bold;
        
    }

    .page-break {
    page-break-after: always; 
    break-after: page;       
  }

</style>

{% for row in items %}
{% if row.dosage %}
<div class = "print-format">


		
		<p class="text-center" style="font-size:8px"><br>
<b class="text-center" style="font-size:12px"> {{doc.company }}</b> 
<div class = "flex justify-content" style="font-size:9px" > <div><b>{{frappe.db.get_value("Employee",doc.pb_sales_employee_name, "employee_name") or '' }}  </b> </div></b>   

<div style="font-size:9px" ><b>PH: 39452112</b></div>
</div>
<div class="flex justify-content" style="font-size:8px; overflow:hidden;">
  <div style="display:inline-block; max-width:60%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
    Pet Name : {{doc.patient_name or ''}}
  </div>
  <div style="font-size:8px;">Date : {{ frappe.format(doc.posting_date, {'fieldtype':'Date'}) }}</div>
</div>

<div class="flex" style="font-size:8px; overflow:hidden;">
  <div style="display:inline-block; max-width:60%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
    Owner : {{ frappe.db.get_value('Customer', doc.customer_name, 'customer_name') }}
  </div>
  <div style="font-size:8px;">Species : {{ frappe.db.get_value("Patient", doc.animal, "vc_species") or '' }}</div>
</div>

<div style="font-size:8px;" >
<b > Medication : </b>{{row.item_name }} <br>
<b style="font-size:8px">Dosage: </b> {{row.dosage or ''}}
</div>




</div>

<div class="page-break"></div>
{% endif %}
{% endfor %}
